<div class="min-h-screen bg-gradient-to-br from-slate-100 to-slate-300 py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-8 lg:px-12">
        <h1 class="text-4xl md:text-5xl font-extrabold text-gray-800 mb-6 tracking-tight drop-shadow-sm">
            Admin paneline hos geldiniz.
        </h1>   
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 md:gap-8 mb-12">
            <!-- set admin menu items here -->
        </div>  
        <div class="bg-white rounded-xl shadow-lg p-6 mb-8">
            <div class="flex flex-col md:items-center gap-6 ">
                <span class="text-4xl font-bold text-gray-700 mb-2 md:mb-0">Mevcut Menü Listesi</span>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full"> 
                @for (item of products; track item.id) {
                <app-menu-item [product]="item"></app-menu-item>
                }
                @empty {
                    <div class="col-span-full text-center py-12">
                        <p class="text-gray-600 text-lg">Gösterilecek menü bulunamadı.</p>
                    </div>
                }
                </div>
            </div>
        </div>
        <div class="flex gap-4 justify-end">
            
            <button (click)="openAddModal()" class="bg-gradient-to-r from-purple-600 to-purple-500 hover:from-purple-700 hover:to-purple-600 text-white py-3 px-6 rounded-xl font-semibold text-base shadow-lg hover:shadow-xl transition-transform duration-200 transform hover:-translate-y-1 focus:outline-none focus:ring-2 focus:ring-purple-400">
                Menü Ekle
            </button>
            <button  (click)="onDeletItem()" class="bg-gradient-to-r from-rose-600 to-rose-500 hover:from-rose-700 hover:to-rose-600 text-white py-3 px-6 rounded-xl font-semibold text-base shadow-lg hover:shadow-xl transition-transform duration-200 transform hover:-translate-y-1 focus:outline-none focus:ring-2 focus:ring-rose-400">
                Menü Sil
            </button>
        </div>
        @if (isAddModalOpen) {
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-[9999]">
        
        <div class="relative bg-white rounded-xl shadow-2xl max-w-4xl w-full max-h-[90vh] overflow-y-auto">
            
            <button (click)="closeAddModal()" class="absolute top-4 right-4 text-red-500 font-bold text-xl z-50">
                X
            </button>

            <app-add-item></app-add-item>

        </div>
    </div>
}
    </div>
</div>
